---
import 'ress'
import '../assets/css/global.css'

const url = 'https://tekubi-hikaru.netlify.app'
const description = 'TEKUBI HIKARUはApple Watchをペンライトとして使用できるようにするWebアプリケーションです。'

const { title } = Astro.props
---

<html lang="ja">
<head>

	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">

	<title>{ title }</title>
  <meta name="description" content={ description }>
  <link rel="canonical" href={ url }>

  <!-- Open Graph Protocol -->
  <meta property="og:title" content={ title }>
  <meta property="og:type" content="website">
  <meta property="og:url" content={ url }>
  <meta property="og:image" content={ `${url}/share.png` }>
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:site_name" content={ title }>
  <meta property="og:description" content={ description }>
  <meta property="og:locale" content="ja_JP">
  <meta name="twitter:card" content="summary_large_image">

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <script>
    import '../assets/js/swiper.js';
  </script>

</head>

<body>
	<slot />
</body>

</html>
